@import url(styles/button.css);
@import url(styles/hero.css);
@import url(styles/navbar.css);
@import url(styles/showcase.css);
@import url(styles/metaphor.css);
@import url(styles/cta.css);

:root {
    --global-font: Roboto;
    --clr-text-primary: #F9FAF8;
    --clr-text-secondary: #E5E7EB;

    --clr-button-primary: #3882F6;
    --clr-button-text: white;
    --clr-header-text: #1F2937;

    --clr-bg-primary: #1F2937;
    --clr-bg-secondary: var(--clr-text-secondary);
    --clr-bg-cta: var(--clr-button-primary);
}

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    color: var(--clr-text-primary);
    background-color: var(--clr-bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 15rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    color: var(--clr-text-primary);
    background-color: var(--clr-bg-primary);
}

a:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

#secondary-black {
    font-size: 18px;
    color: var(--clr-bg-primary);
    font-weight: 100;
}

#secondary-white {
    font-size: 18px;
    color: var(--clr-text-primary);
    font-weight: 100;
}