body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content {
    flex: 1;
    color: #F9FAF8;
    background-color: #1F2937;
}

footer {
    flex: 1;
    height: 100px;
}

.logo {
    font-size: 36px;
    font-weight: 900;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin: 0px 20px;
}

.menu a {
    color: #F9FAF8;
    text-decoration: none;
}

.CTA {
    color: #F9FAF8;
    background-color: #3882F6;
    height: 2em;
    width: 7em;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-family: inherit;
    font-weight: 500;
}

.CTA:hover {
 animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
 0% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }

 20% {
  -webkit-transform: translate(-2px, 2px);
  transform: translate(-2px, 2px);
 }

 40% {
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
 }

 60% {
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
 }

 80% {
  -webkit-transform: translate(2px, -2px);
  transform: translate(2px, -2px);
 }

 100% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }
}
