body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content {
    flex: 1;
    color: #F9FAF8;
    background-color: #1F2937;
}

footer {
    flex: 1;
    height: 100px;
    background-color: antiquewhite;
}

.logo {
    font-size: 36px;
    font-weight: 900;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin: 0px 20px;
}

.menu a {
    color: #F9FAF8;
    text-decoration: none;
}

.CTA {
    color: #F9FAF8;
    background-color: #3882F6;
}