.hero {
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: var(--clr-text-primary);
    background-color: var(--clr-bg-primary);
    padding: 5rem 15rem;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 5px 0;
}

.hero-text p {
    font-size: 18px;
    color: var(--clr-text-secondary);
    margin: 5px 0;
}

.hero-image {
    flex: 1 0 auto;
}