nav {
    padding: 0 1.5rem;
}

.logo {
    font-size: 36px;
    font-weight: 900;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.nav-items a {
    margin: 10px;
    color: var(--clr-text-primary);
    text-decoration: none;
}