.showcase {
    min-height: 500px;
    padding: 1.5rem 16.5rem;
}

.showcase .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.showcase .element-shape {
    flex: 0 0 auto;
    display: inline-block;
    border-radius: 15px;
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
}

.showcase .showcase-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 24px;
}

.showcase .element-text {
    text-align: center;
    margin: 10px;
}